.App {
	text-align: center;
}

.active {
	background-color: rgb(125, 56, 189);
	color: white;
}
.fa-solid {
	color: rgb(125, 56, 189);
}

* {
	background-color: rgb(202, 202, 202);
	color: #000000;
}
