.containerInt {
	border: 0.1rem solid grey;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	flex: 1 1 25rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 25rem;
	max-width: 40%;
	margin: 1rem;
}

.externalH2 {
	width: 100%;
	margin-bottom: 0;
}
